
    body {

        background-color: #00269E;
        font-family: 'Rajdhani', sans-serif;
        font-size: 16px;
        margin: 0;
        
        }
        
        
        img {
            width: 100%;
           height: auto;
            margin: auto;
        }


    #challenges {

width: 1000px;
height: 186px;
background-color: rgba(255, 255, 255, 0.1);
margin: auto;
color: white;
font-weight: bold;
font-size: 20px;

}


button {


background: linear-gradient(to right, #FFFFFF  10%, #00269E  100%);
border: none;
text-align: center;
color: #00269E;
font-size: 20px;
padding: 12px 25px;
cursor: pointer;


   
 }




 #btncontainer {

    margin: auto;
    width: auto;
    display: flex;
 }












